/* Paleta de colores */
:root {
    --color-orange: #ff6f00; /* Tono naranja */
    --color-dark: #333333;   /* Tono oscuro */
    --color-light: #f4f4f4;  /* Color claro para el texto sobre fondos oscuros */
}

/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-light); /* Fondo claro */
    color: var(--color-dark); /* Texto oscuro */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Encabezado */
header {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid var(--color-orange);
    height: 100px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin-left: 20px;
    color: var(--color-orange);
}

p {
    color: var(--color-light);
    margin-left: 20px;
}

/* Navegación */
nav {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-light); /* Enlaces en color claro */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--color-orange); /* Color naranja para el hover */
}

/* Contenedor Principal */
.container {
    flex: 1;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color-dark);
    color: var(--color-light); /* Texto en color claro */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botones */
button {
    background-color: var(--color-orange);
    color: var(--color-light);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e65c00; /* Naranja más oscuro */
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--color-orange);
    color: var(--color-light);
    max-width: 400px;
    margin: auto;
    text-align: center;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    font-size: 0.9em;
}

form input[type="text"], form textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid var(--color-orange);
    border-radius: 5px;
    background-color: var(--color-light);
    color: var(--color-dark); /* Texto oscuro */
    width: auto;
    font-size: 0.9em;
}

form textarea {
    resize: vertical;
    height: 80px;
}

/* Listas de Mensajes */
.mensaje-section {
    background: var(--color-orange);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px 20px;
}

.mensaje-section ul {
    list-style-type: none;
    padding: 0;
}

.mensaje-section li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}


/* Enlaces en las listas */
ul li a {
    color: var(--color-orange); /* Enlaces en color naranja */
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

ul li a:hover {
    color: var(--color-light); /* Color claro para el hover */
}

/* Pie de página */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    color: var(--color-light);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-top: 3px solid var(--color-orange);
}

footer p {
    margin: 0;
}

/* Tarjetas */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: var(--color-dark);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
    color: var(--color-orange);
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
}

.card .btn {
    text-decoration: none;
    color: var(--color-light); /* Texto blanco en los botones */
    background-color: var(--color-orange);
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: #e65c00; /* Naranja más oscuro */
}

.centered-content {
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Añade un margen superior si es necesario */
}

.centered-content h2 {
    font-size: 2em;
    color: var(--color-orange); 
}
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px; /* Añade un margen superior si es necesario */
}