<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, iinitial-scale=1.0">
    <title>{% block title %} Tablero de mensajes {% endblock %}</title>
    {% load static %} <!-- para los estilos -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>TABLERO DE MENSAJES</h1>
        <nav>
            <ul>
                <li><a href="{% url 'crear' %}">CREAR MENSAJES</a> </li><!-- crear mensajes-->
                <li><a href="{% url 'mensajes' %}">VER MENSAJES</a></li><!-- ver mesnajes-->
            </ul>
        </nav>
    </header>
</body>
</html>