<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, iinitial-scale=1.0">
    <title>{% block title %} Tablero de mensajes {% endblock %}</title>
    {% load static %} <!-- para los estilos -->
    <link rel="stylesheet" href="{% static 'css/styles' %}">
</head>
<body>
    <header>
        <nav><ul>
            <li><a href="{%%}"></a></li><!-- inicio-->
            <li><a href="{%%}"></a></li><!-- iniciar sesion-->
            <li><a href="{%%}"></a></li><!-- registrarse -->
            <li><a href="{%%}"></a></li><!-- crear mensajes-->
            <li><a href="{%%}"></a></li><!-- ver mesnajes-->
            <li><a href="{%%}"></a></li><!-- cerrar sesion-->
        </ul></nav>
    </header>
</body>
</html>