<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, iinitial-scale=1.0">
    <title>{% block title %} Tablero de mensajes {% endblock %}</title>
    {% load static %} <!-- para los estilos -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>TABLERO DE MENSAJES</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">INiCIO</a> </li><!-- inicio-->
                <li><a href="{% url 'crear' %}">CREAR MENSAJES</a> </li><!-- crear mensajes-->
                <li><a href="{% url 'mensajes' %}">VER MENSAJES</a></li><!-- ver mesnajes-->
                <li><a href="{% url 'logout' %}">CERRAR SESION</a></li><!-- cerrar sesion-->
                {% else %}
                <li><a href="{% url 'login' %}">INICIAR SESION</a></li><!-- login -->
                <li><a href="{% url 'register' %}">REGISTRARSE </a></li><!-- register -->
                {% endif %}
            </ul>
        </nav>
    </header>
</body>
</html>