{% extends 'base.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}
    <div class="centered-content">
        <h2>Bienvenido a la Página de Inicio</h2>
        <div class="card-container">
            <div class="card">
                <h1>Crear Mensaje</h1>
                <p>Redacta y envía un nuevo mensaje.</p>
                <a href="{% url 'crear' %}" class="btn">Crear Mensaje</a>
            </div>
            <div class="card">
                <h1>Ver Mensajes</h1>
                <p>Consulta tus mensajes enviados y recibidos.</p>
                <a href="{% url 'mensajes' %}" class="btn">Ir a Mensajes</a>
            </div>
        </div>
    </div>
{% endblock %}
