{% extends 'base.html' %}

{% block title %} Mensajes {% endblock %}

{% block content %}
    
<div class="centered-content">
    <h2>Mis Mensajes</h2>
</div>

    <div class="mensaje-container">
        <div class="mensaje-section">
            <h3 class="centered-content">Mensajes Enviados</h3>
            <ul class="centered-content">
                {% for mensaje in mensajes %}
                    {% if mensaje.remitente == user.username %}
                        <li class="mensaje-card">
                            <strong>Para:</strong> {{ mensaje.destinatario }}<br>
                            <strong>Mensaje:</strong> {{ mensaje.mensaje }}<br>
                            <strong>Fecha:</strong> {{ mensaje.fecha }}<br>
                            <form method="POST" action="{% url 'eliminar' mensaje.id %}">
                                {% csrf_token %}
                                <button type="submit">Eliminar</button>
                            </form>
                        </li>
                    {% endif %}
                {% empty %}
                    <li>No hay mensajes enviados para mostrar.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="mensaje-section">
            <h3 class="centered-content">Mensajes Recibidos</h3>
            <ul class="centered-content">
                {% for mensaje in mensajes %}
                    {% if mensaje.destinatario == user.username %}
                        <li class="mensaje-card">
                            <strong>De:</strong> {{ mensaje.remitente }}<br>
                            <strong>Mensaje:</strong> {{ mensaje.mensaje }}<br>
                            <strong>Fecha:</strong> {{ mensaje.fecha }}<br>
                            <form method="POST" action="{% url 'eliminar' mensaje.id %}">
                                {% csrf_token %}
                                <button type="submit">Eliminar</button>
                            </form>                        </li>
                    {% endif %}
                {% empty %}
                    <li>No hay mensajes recibidos para mostrar.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
